---
layout: layouts/base.njk
section: people
permalink: /people/index.html
---
<h1>{{ title }}</h1>

{{ layoutContent | safe }}

{% set postslist = collections.people %}
{% include "components/peoplelist.njk" %}
