---
layout: layouts/base.njk
section: people
---

<article>
  <h1>{{ name }}</h1>
  <p>
    {{ role }}
  </p>
  <p>
    {{ office }}
  </p>
  <p>
    <span class="person__email"><a href="mailto:{{ email }}">{{ email }}</a></span><br>
    <span class="person__phone"><a href="tel:{{ phone }}">{{ phone }}</a></span><br>
    <span class="person__publication"><a href="{{ publicationURL }}">Publications</a></span><br>
  </p>

  {{ layoutContent | safe }}

  {% if tags %}
    <p>
    {% for tag in tags %}
      {%- if tag != "post" -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
    </p>
  {% endif %}

</article>

<nav>
  <a href="{{ '/people/' | url }}">← Back to People</a>
</nav>
